/hello_extensions
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SpeckoBet365/FileContentIndex/read.lock
.vs/SpeckoBet365/FileContentIndex/51766703-6111-4710-94a3-9285212247ed.vsidx
.vs/SpeckoBet365/v17/.wsuo
